In [1]:
!pip install sqlalchemy pandas
!pip install psycopg2-binary

Requirement already satisfied: sqlalchemy in c:\users\jessi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.0.40)
Requirement already satisfied: pandas in c:\users\jessi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.2.3)
Requirement already satisfied: greenlet>=1 in c:\users\jessi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from sqlalchemy) (3.2.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\jessi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from sqlalchemy) (4.13.2)
Requirement already satisfied: numpy>=1.23.2 in c:\users\jessi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.2.5)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\jessi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\jessi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\jessi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\jessi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 24.0 -> 25.1
[notice] To update, run: C:\Users\jessi\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

Requirement already satisfied: psycopg2-binary in c:\users\jessi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.9.10)

[notice] A new release of pip is available: 24.0 -> 25.1
[notice] To update, run: C:\Users\jessi\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [2]:
from sqlalchemy import create_engine
import pandas as pd

### Cria dataframes a partir da modelagem dimensional feita com o Pentaho e armazenada no PostgreSQL

In [ ]:
engine = create_engine("postgresql+psycopg2://postgres:postgres@localhost:5432/db_acidentes")

df_dim_pista = pd.read_sql("SELECT * FROM dim_pista", engine)
df_dim_localizacao = pd.read_sql("SELECT * FROM dim_localizacao", engine)
df_dim_tempo = pd.read_sql("SELECT * FROM dim_tempo", engine)
df_fato_acidente = pd.read_sql("SELECT * FROM fato_acidente", engine)

#print(df_fato_acidente.head())

### Total de acidentes registrados

In [ ]:
df_fato_acidente.shape[0]

463152

### Quantidade de registros de cada dimensão

In [ ]:
df_dim_pista.shape[0]
df_dim_localizacao.shape[0]
df_dim_tempo.shape[0]

9733

### Quantidade de acidentes por pista

In [ ]:
df_fato_acidente.merge(df_dim_pista, on='id_pista')['tipo_pista'].value_counts()

tipo_pista
Simples     234109
Dupla       191626
Múltipla     37417
Name: count, dtype: int64

In [31]:
df_fato_acidente.merge(df_dim_pista, on='id_pista')['tracado_via'].value_counts()

tracado_via
Reta                     278794
Curva                     73508
Não Informado             58644
Interseção de vias        19720
Desvio Temporário         12259
Rotatória                  8972
Retorno Regulamentado      5176
Viaduto                    3159
Ponte                      2395
Túnel                       525
Name: count, dtype: int64

### Quantidade de acidentes por mês (geral)

In [36]:
df_merge = df_fato_acidente.merge(df_dim_tempo, on='id_tempo').info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 463152 entries, 0 to 463151
Data columns (total 21 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   id_fato                 463152 non-null  int64
 1   horario                 463152 non-null  object
 2   causa_acidente          463152 non-null  object
 3   tipo_acidente           463112 non-null  object
 4   classificacao_acidente  463152 non-null  object
 5   condicao_metereologica  463152 non-null  object
 6   pessoas                 463152 non-null  int64
 7   mortos                  463152 non-null  int64
 8   feridos_leves           463152 non-null  int64
 9   feridos_graves          463152 non-null  int64
 10  ilesos                  463152 non-null  int64
 11  ignorados               463152 non-null  int64
 12  feridos                 463152 non-null  int64
 13  veiculos                463152 non-null  int64
 14  delegacia               463152 non-null  object
 15  id_localizacao          463152 non-null  int64
 16  id_pista                463152 non-null  int64
 17  id_tempo                463152 non-null  int64
 18  data_inversa            463152 non-null  datetime64[ns]
 19  dia_semana              463152 non-null  object
 20  fase_dia                463152 non-null  object
dtypes: datetime64[ns](1), int64(12), object(8)
memory usage: 74.2+ MB

In [46]:
df_mes = df_fato_acidente.merge(df_dim_tempo, on='id_tempo')

df_mes['mes'] = df_mes['data_inversa'].dt.strftime('%B')

# Conta quantos acidentes ocorreram por mês
acidentes_por_mes = df_mes.groupby('mes').size()

print(acidentes_por_mes)

mes
April        38405
August       40657
December     39124
February     38301
January      40759
July         41099
June         39558
March        40586
May          39324
November     34110
October      36110
September    35119
dtype: int64

### Quantidade de acidentes por ano (2017 - 2023)

In [47]:
df_ano = df_fato_acidente.merge(df_dim_tempo, on='id_tempo')

df_ano['ano'] = df_ano['nome_ano'] = df_ano['data_inversa'].dt.year

# Conta quantos acidentes ocorreram por ano
acidentes_por_ano = df_ano.groupby('ano').size()

print(acidentes_por_ano)

ano
2017    89275
2018    69119
2019    67556
2020    63576
2021    65044
2022    64547
2023    44035
dtype: int64

In [48]:
df_merge = df_fato_acidente.merge(df_dim_tempo, on='id_tempo')
df_merge['mes'] = df_merge['data_inversa'].dt.month
df_merge['ano'] = df_merge['data_inversa'].dt.year
#df_merge['nome_mes'] = df_merge['data_inversa'].dt.strftime('%B')

# Conta quantos acidentes ocorreram por ano
acidentes_por_ano = df_merge.groupby('ano').size()

print(acidentes_por_ano)

ano
2017    89275
2018    69119
2019    67556
2020    63576
2021    65044
2022    64547
2023    44035
dtype: int64

### Acidentes por mês e ano (2017 - 2023)

In [56]:
# Agrupa por ano e mês e conta acidentes
acidentes_por_ano_mes = df_merge.groupby(['ano', 'mes']).size().reset_index(name='total_acidentes')

print(acidentes_por_ano_mes)

     ano  mes  total_acidentes
0   2017    1             7434
1   2017    2             7077
2   2017    3             7494
3   2017    4             7762
4   2017    5             7757
..   ...  ...              ...
75  2023    4             5602
76  2023    5             5627
77  2023    6             5725
78  2023    7             5947
79  2023    8             5547

[80 rows x 3 columns]

### Média ou soma de variáveis numéricas

In [57]:
df_merge.columns

Index(['id_fato', 'horario', 'causa_acidente', 'tipo_acidente',
       'classificacao_acidente', 'condicao_metereologica', 'pessoas', 'mortos',
       'feridos_leves', 'feridos_graves', 'ilesos', 'ignorados', 'feridos',
       'veiculos', 'delegacia', 'id_localizacao', 'id_pista', 'id_tempo',
       'data_inversa', 'dia_semana', 'fase_dia', 'mes', 'ano'],
      dtype='object')

In [ ]:
df_merge['qtd_vitimas'].mean()
df_merge['qtd_vitimas'].sum()

### As 10 cidades com mais acidentes

In [59]:
df_merge.merge(df_dim_localizacao, on='id_localizacao') \
    .groupby('municipio') \
    .size() \
    .sort_values(ascending=False) \
    .head(10)

municipio
BRASILIA                6642
CURITIBA                6479
SAO JOSE                5107
GUARULHOS               4941
PALHOCA                 4165
DUQUE DE CAXIAS         3753
SERRA                   3629
BETIM                   3628
SAO JOSE DOS PINHAIS    3021
RECIFE                  2970
dtype: int64

### Consultas Específicas

In [ ]:
df_fato_acidente.merge(df_dim_pista, on='id_pista') \
    .query('condicao_pista == "Molhada"')

### Análise cruzada (Pivot Table)  - INCOMPLETO

In [ ]:
dados = fato_acidente.merge(dim_pista, on='id_pista').merge(dim_tempo, on='id_tempo')
pd.pivot_table(dados, index='tipo_pista', columns='mes', values='id_acidente', aggfunc='count')

df.pivot_table(
    index='categoria_linha',         # linhas
    columns='categoria_coluna',      # colunas
    values='coluna_valor',           # o que vai ser resumido
    aggfunc='sum'                    # função de agregação (pode ser 'mean', 'count', etc.)
)

### Visualização com plot

In [ ]:
import matplotlib.pyplot as plt

# Acidentes por ano
fato_acidente.merge(dim_tempo, on='id_tempo') \
    .groupby('ano').size() \
    .plot(kind='bar')
plt.show()