In [191]:
!pip install sqlalchemy pandas
!pip install psycopg2-binary

Requirement already satisfied: sqlalchemy in c:\users\jessi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.0.40)
Requirement already satisfied: pandas in c:\users\jessi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.2.3)
Requirement already satisfied: greenlet>=1 in c:\users\jessi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from sqlalchemy) (3.2.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\jessi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from sqlalchemy) (4.13.2)
Requirement already satisfied: numpy>=1.23.2 in c:\users\jessi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.2.5)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\jessi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\jessi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\jessi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\jessi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 24.0 -> 25.1
[notice] To update, run: C:\Users\jessi\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

Requirement already satisfied: psycopg2-binary in c:\users\jessi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.9.10)

[notice] A new release of pip is available: 24.0 -> 25.1
[notice] To update, run: C:\Users\jessi\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [ ]:
from sqlalchemy import create_engine
import pandas as pd
import locale

### Cria dataframes a partir da modelagem dimensional feita com o Pentaho e armazenada no PostgreSQL

In [193]:
engine = create_engine("postgresql+psycopg2://postgres:postgres@localhost:5432/db_acidentes")

df_dim_pista = pd.read_sql("SELECT * FROM dim_pista", engine)
df_dim_localizacao = pd.read_sql("SELECT * FROM dim_localizacao", engine)
df_dim_tempo = pd.read_sql("SELECT * FROM dim_tempo", engine)
df_fato_acidente = pd.read_sql("SELECT * FROM fato_acidente", engine)

#print(df_fato_acidente.head())

### Total de acidentes registrados

In [194]:
df_fato_acidente.shape[0]

463152

### Quantidade de registros de cada dimensão

In [195]:
df_dim_pista.shape[0]
df_dim_localizacao.shape[0]
df_dim_tempo.shape[0]

9733

### Preenchendo valores nulos

In [196]:
df_fato_acidente.isnull().sum()

id_fato                    0
horario                    0
causa_acidente             0
tipo_acidente             40
classificacao_acidente     0
condicao_metereologica     0
pessoas                    0
mortos                     0
feridos_leves              0
feridos_graves             0
ilesos                     0
ignorados                  0
feridos                    0
veiculos                   0
delegacia                  0
id_localizacao             0
id_pista                   0
id_tempo                   0
dtype: int64

In [197]:
df_fato_acidente['tipo_acidente'] = df_fato_acidente['tipo_acidente'].fillna('Não informado')
df_fato_acidente.isnull().sum()

id_fato                   0
horario                   0
causa_acidente            0
tipo_acidente             0
classificacao_acidente    0
condicao_metereologica    0
pessoas                   0
mortos                    0
feridos_leves             0
feridos_graves            0
ilesos                    0
ignorados                 0
feridos                   0
veiculos                  0
delegacia                 0
id_localizacao            0
id_pista                  0
id_tempo                  0
dtype: int64

### Quantidade de acidentes por pista

In [198]:
df_fato_acidente.merge(df_dim_pista, on='id_pista')['tipo_pista'].value_counts()

tipo_pista
Simples     234109
Dupla       191626
Múltipla     37417
Name: count, dtype: int64

In [199]:
df_fato_acidente.merge(df_dim_pista, on='id_pista')['tracado_via'].value_counts()

tracado_via
Reta                     278794
Curva                     73508
Não Informado             58644
Interseção de vias        19720
Desvio Temporário         12259
Rotatória                  8972
Retorno Regulamentado      5176
Viaduto                    3159
Ponte                      2395
Túnel                       525
Name: count, dtype: int64

### Quantidade de acidentes por mês (geral)

In [200]:
df_merge = df_fato_acidente.merge(df_dim_tempo, on='id_tempo').info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 463152 entries, 0 to 463151
Data columns (total 21 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   id_fato                 463152 non-null  int64
 1   horario                 463152 non-null  object
 2   causa_acidente          463152 non-null  object
 3   tipo_acidente           463152 non-null  object
 4   classificacao_acidente  463152 non-null  object
 5   condicao_metereologica  463152 non-null  object
 6   pessoas                 463152 non-null  int64
 7   mortos                  463152 non-null  int64
 8   feridos_leves           463152 non-null  int64
 9   feridos_graves          463152 non-null  int64
 10  ilesos                  463152 non-null  int64
 11  ignorados               463152 non-null  int64
 12  feridos                 463152 non-null  int64
 13  veiculos                463152 non-null  int64
 14  delegacia               463152 non-null  object
 15  id_localizacao          463152 non-null  int64
 16  id_pista                463152 non-null  int64
 17  id_tempo                463152 non-null  int64
 18  data_inversa            463152 non-null  datetime64[ns]
 19  dia_semana              463152 non-null  object
 20  fase_dia                463152 non-null  object
dtypes: datetime64[ns](1), int64(12), object(8)
memory usage: 74.2+ MB

In [201]:
df_mes = df_fato_acidente.merge(df_dim_tempo, on='id_tempo')

df_mes['mes'] = df_mes['data_inversa'].dt.strftime('%B')

# Conta quantos acidentes ocorreram por mês
acidentes_por_mes = df_mes.groupby('mes').size()

print(acidentes_por_mes)

mes
abril        38405
agosto       40657
dezembro     39124
fevereiro    38301
janeiro      40759
julho        41099
junho        39558
maio         39324
marÃ§o       40586
novembro     34110
outubro      36110
setembro     35119
dtype: int64

### Quantidade de acidentes por ano (2017 - 2023)

In [202]:
df_ano = df_fato_acidente.merge(df_dim_tempo, on='id_tempo')

df_ano['ano'] = df_ano['nome_ano'] = df_ano['data_inversa'].dt.year

# Conta quantos acidentes ocorreram por ano
acidentes_por_ano = df_ano.groupby('ano').size()

print(acidentes_por_ano)

ano
2017    89275
2018    69119
2019    67556
2020    63576
2021    65044
2022    64547
2023    44035
dtype: int64

In [203]:
df_merge = df_fato_acidente.merge(df_dim_tempo, on='id_tempo')
df_merge['mes'] = df_merge['data_inversa'].dt.month
df_merge['ano'] = df_merge['data_inversa'].dt.year
#df_merge['nome_mes'] = df_merge['data_inversa'].dt.strftime('%B')

# Conta quantos acidentes ocorreram por ano
acidentes_por_ano = df_merge.groupby('ano').size()

print(acidentes_por_ano)

ano
2017    89275
2018    69119
2019    67556
2020    63576
2021    65044
2022    64547
2023    44035
dtype: int64

### Acidentes por mês e ano (2017 - 2023)

In [ ]:
# Agrupa por ano e mês e conta acidentes
df_acidentes_por_ano_mes = df_merge.groupby(['ano', 'mes']).size().reset_index(name='total_acidentes')

locale.setlocale(locale.LC_TIME, 'Portuguese_Brazil.1252')

df_acidentes_por_ano_mes['nome_mes'] = pd.to_datetime(df_acidentes_por_ano_mes['mes'], format='%m').dt.strftime('%B')

print(df_acidentes_por_ano_mes)

     ano  mes  total_acidentes   nome_mes
0   2017    1             7434    janeiro
1   2017    2             7077  fevereiro
2   2017    3             7494      março
3   2017    4             7762      abril
4   2017    5             7757       maio
..   ...  ...              ...        ...
75  2023    4             5602      abril
76  2023    5             5627       maio
77  2023    6             5725      junho
78  2023    7             5947      julho
79  2023    8             5547     agosto

[80 rows x 4 columns]

In [205]:
df_acidentes_por_ano_mes.to_sql('agg_acidentes_por_ano_mes', engine, if_exists='replace', index=False)

80

### Média ou soma de variáveis numéricas

In [206]:
df_merge.columns

Index(['id_fato', 'horario', 'causa_acidente', 'tipo_acidente',
       'classificacao_acidente', 'condicao_metereologica', 'pessoas', 'mortos',
       'feridos_leves', 'feridos_graves', 'ilesos', 'ignorados', 'feridos',
       'veiculos', 'delegacia', 'id_localizacao', 'id_pista', 'id_tempo',
       'data_inversa', 'dia_semana', 'fase_dia', 'mes', 'ano'],
      dtype='object')

In [207]:
qtd_vitimas = df_merge['mortos'] + df_merge['feridos_leves'] + df_merge['feridos_graves'] 

print('Média', qtd_vitimas.mean())
print(f'Média: {qtd_vitimas.mean():.2f}')

print('Quantidade total de vitimas: ',qtd_vitimas.sum())

Média 1.1742343766193388
Média: 1.17
Quantidade total de vitimas:  543849

In [208]:
# quantidade de acidentes por ano
# representa o sql abaixo
'''SELECT 	EXTRACT(YEAR FROM t.data_inversa) AS ano,
		count(*)
FROM fato_acidente a
INNER JOIN dim_tempo t ON t.id_tempo = a.id_tempo
group by ano
ORDER BY ano'''


df_merge.groupby('ano').size()

ano
2017    89275
2018    69119
2019    67556
2020    63576
2021    65044
2022    64547
2023    44035
dtype: int64

In [209]:
df_merge.groupby('ano').size().to_sql('agg_acidentes_ano', engine, if_exists='replace', index=False)

7

In [210]:
df_merge['qtd_vitimas'] = df_merge['mortos'] + df_merge['feridos_leves'] + df_merge['feridos_graves'] 

# Calcula a média de vítimas por ano
media_por_ano = df_merge.groupby('ano')['qtd_vitimas'].mean()

print('Média de vítimas por ano:', media_por_ano.round(2))

Média de vítimas por ano: ano
2017    1.01
2018    1.18
2019    1.25
2020    1.21
2021    1.20
2022    1.21
2023    1.23
Name: qtd_vitimas, dtype: float64

### As 10 cidades com mais acidentes

In [211]:
df_top10_cidades_geral = (
    df_merge.merge(df_dim_localizacao, on='id_localizacao') \
    .groupby('municipio') \
    .size() \
    .sort_values(ascending=False) \
    .head(10)
)

print(df_top10_cidades_geral)

municipio
BRASILIA                6642
CURITIBA                6479
SAO JOSE                5107
GUARULHOS               4941
PALHOCA                 4165
DUQUE DE CAXIAS         3753
SERRA                   3629
BETIM                   3628
SAO JOSE DOS PINHAIS    3021
RECIFE                  2970
dtype: int64

In [212]:
# armazena no bd
df_top10_cidades_geral.to_sql('agg_top10_cidades_geral', engine, if_exists='replace', index=False)

10

In [213]:
df_top10_cidades_ano = (
    df_merge.merge(df_dim_localizacao, on='id_localizacao')
    .groupby(['ano', 'municipio'])
    .size()
    .reset_index(name='total_acidentes')
    .sort_values(['ano', 'total_acidentes'], ascending=[True, False])
    .groupby('ano')
    .head(10)
)

print(df_top10_cidades_ano)

        ano             municipio  total_acidentes
518    2017              CURITIBA             1243
242    2017              BRASILIA             1090
1568   2017              SAO JOSE              948
688    2017             GUARULHOS              862
1174   2017               PALHOCA              769
...     ...                   ...              ...
10953  2023                 BETIM              388
12063  2023                RECIFE              373
11244  2023              CURITIBA              372
12336  2023                 SERRA              333
12275  2023  SAO JOSE DOS PINHAIS              311

[70 rows x 3 columns]

In [214]:
# armazena no bd
df_top10_cidades_ano.to_sql('agg_top10_cidades_ano', engine, if_exists='replace', index=False)

70

### Consultas Específicas

In [215]:
df_merge.info()
# df_merge.query('classificacao_acidente  == "Sem Vítimas"')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 463152 entries, 0 to 463151
Data columns (total 24 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   id_fato                 463152 non-null  int64
 1   horario                 463152 non-null  object
 2   causa_acidente          463152 non-null  object
 3   tipo_acidente           463152 non-null  object
 4   classificacao_acidente  463152 non-null  object
 5   condicao_metereologica  463152 non-null  object
 6   pessoas                 463152 non-null  int64
 7   mortos                  463152 non-null  int64
 8   feridos_leves           463152 non-null  int64
 9   feridos_graves          463152 non-null  int64
 10  ilesos                  463152 non-null  int64
 11  ignorados               463152 non-null  int64
 12  feridos                 463152 non-null  int64
 13  veiculos                463152 non-null  int64
 14  delegacia               463152 non-null  object
 15  id_localizacao          463152 non-null  int64
 16  id_pista                463152 non-null  int64
 17  id_tempo                463152 non-null  int64
 18  data_inversa            463152 non-null  datetime64[ns]
 19  dia_semana              463152 non-null  object
 20  fase_dia                463152 non-null  object
 21  mes                     463152 non-null  int32
 22  ano                     463152 non-null  int32
 23  qtd_vitimas             463152 non-null  int64
dtypes: datetime64[ns](1), int32(2), int64(13), object(8)
memory usage: 81.3+ MB

In [216]:
df_classificacao_acidentes = (
    df_merge.groupby('classificacao_acidente')
    .size()
    .reset_index(name='total_acidentes')
    .sort_values(['classificacao_acidente', 'total_acidentes'], ascending=[True, False])
)

df_classificacao_acidentes['porcentagem'] = (df_classificacao_acidentes['total_acidentes']  / df_fato_acidente.shape[0]) * 100
df_classificacao_acidentes['porcentagem'] = df_classificacao_acidentes['porcentagem'].round(2)

print(df_classificacao_acidentes)

  classificacao_acidente  total_acidentes  porcentagem
0     Com Vítimas Fatais            31344         6.77
1    Com Vítimas Feridas           332213        71.73
2            Sem Vítimas            99595        21.50

In [217]:
# armazena no bd
df_classificacao_acidentes.to_sql('agg_classificacao_acidentes', engine, if_exists='replace', index=False)

3

### Análise cruzada (Pivot Table)

In [222]:
df_tipo_acidente_ano = df_merge.pivot_table(
    index='tipo_acidente',
    columns='ano',
    values='id_fato',
    aggfunc='count',
    fill_value=0
)

print(df_tipo_acidente_ano)

ano                               2017   2018   2019   2020   2021   2022  \
tipo_acidente
Atropelamento de Animal           2002   1233   1241   1157    993   1069
Atropelamento de Pedestre         3619   3368   3384   2842   2929   3043
Capotamento                       5607   2803   2279   1860   1782   1563
Colisão com objeto                   1      0      0     26   4908   4763
Colisão com objeto em movimento    624    398    313    255      4      0
Colisão com objeto estático       7297   5038   4464   4889     55      0
Colisão frontal                   4954   4569   4409   4432   4382   4466
Colisão lateral                  10564   8326   8348   7440    733      0
Colisão lateral mesmo sentido        0      1      0     12   5570   6237
Colisão lateral sentido oposto       0      0      0      9   1609   1775
Colisão transversal              10186   8592   8784   7821   8069   8004
Colisão traseira                 16097  12911  13134  11459  12399  12082
Danos eventuais                    365    223    182    232      1      0
Derramamento de carga              371    236    166    201    157    146
Engavetamento                     1191    990    922    898   1061   1021
Eventos atípicos                     0      0      1      5    267    337
Incêndio                          1053    930   1115   1177   1176   1305
Não informado                        0     23     17      0      0      0
Queda de ocupante de veículo      3610   3024   3324   2804   2607   2746
Saída de leito carroçável        15633  11298  10312  10493  10735  10492
Tombamento                        6101   5156   5161   5564   5607   5498

ano                              2023
tipo_acidente
Atropelamento de Animal           729
Atropelamento de Pedestre        2093
Capotamento                       955
Colisão com objeto               3213
Colisão com objeto em movimento     0
Colisão com objeto estático         0
Colisão frontal                  3030
Colisão lateral                     0
Colisão lateral mesmo sentido    4481
Colisão lateral sentido oposto   1334
Colisão transversal              5609
Colisão traseira                 8390
Danos eventuais                     0
Derramamento de carga              73
Engavetamento                     782
Eventos atípicos                  190
Incêndio                          899
Não informado                       0
Queda de ocupante de veículo     2008
Saída de leito carroçável        6586
Tombamento                       3663

In [223]:
df_tipo_acidente_ano.to_sql('agg_tipo_acidente_ano', engine, if_exists='replace', index=False)

21